<div >
    <div class="ui search-api category search">
        <div class="ui icon input">
          {{input class="prompt" type="text" placeholder=placeholder}}
            <i class="search icon"></i>
        </div>
        <div class="results"></div>
    </div>
  {{yield}}
</div>
