# Gradle
# ------
.gradle
/build
/buildSrc/build
/subprojects/*/build
/subprojects/docs/src/samples/*/*/build
/subprojects/internal-android-performance-testing/build-android-libs
/api/build/**
/dht/build/**

# IDEA
# ----
.idea
.shelf
/*.iml
/*.ipr
/*.iws
/buildSrc/*.iml
/buildSrc/*.ipr
/buildSrc/*.iws
/buildSrc/out
/out
/subprojects/*/*.iml
/subprojects/*/out

# Eclipse
# -------
*.classpath
*.project
*.settings
/bin
/subprojects/*/bin
atlassian-ide-plugin.xml

# NetBeans
# --------
.nb-gradle
.nb-gradle-properties

# Vim
# ---
*.sw[op]

# Emacs
# -----
*~

# Textmate
# --------
.textmate

# Sublime Text
# ------------
*.sublime-*

# jEnv
# ----
.java-version

# OS X
# ----
.DS_Store

# HPROF
# -----
*.hprof

# Work dirs
# ---------
/incoming-distributions
/intTestHomeDir

# Logs
# ----
/*.log

# Ember
# -----
# compiled output 
api/src/main/resources/webapp
management/dist 
management/tmp  

# dependencies 
management/node_modules 
management/bower_components  

# misc 
management/.sass-cache 
management/connect.lock 
management/coverage/* 
management/libpeerconnection.log 
management/npm-debug.log 
management/testem.log
management/build

demo/server-side-rendering/node_modules
demo/client-side-rendering/node_modules

.gitignore
.gitkeep
app.js
bin/
package.json
public/
routes/
views/
