{{#if session.isAuthenticated}}
  {{top-nav}}
  <div class="pusher fullscreen">
        <div class="full height">
          {{#side-nav}}
            {{outlet}}
          {{/side-nav}}
        </div>
    </div>
{{/if}}


