{{#if session.isAuthenticated}}
  {{top-nav action=(action "invalidateSession") user=model}}
  <div class="pusher fullscreen">
      <div class="full height">
        {{#side-nav action=(action "invalidateSession") user=model}}
          {{outlet}}
        {{/side-nav}}
      </div>
  </div>
{{else}}
  {{outlet}}
{{/if}}


