
<div class="ui vertical inverted sidebar menu left overlay visible" id="toc">
    <div class="item">
        <a class="ui logo icon image" href="/">
            <img src="/images/logo.png">
        </a>
        <a href="/"><b>Management</b></a>
    </div>
    <div class="item">
        <div class="header">Product Administration</div>
        <div class="menu">
          {{#link-to 'product' class='item'}}View all products{{/link-to}}
          {{#link-to 'approvals' class='item'}}Approve reviews{{/link-to}}
        </div>

    </div>
    <div class="item">
        <div class="header">Settings</div>
        <div class="menu">
          {{#link-to 'account.settings' class='item'}}Settings{{/link-to}}
        </div>
        <div class="menu">
          {{#link-to 'settings' class='item'}}System{{/link-to}}
        </div>
    </div>
</div>

<div id="content-main" class="ui article">
    <div id="top-side-nav-comp" class="ui fixed inverted menu">
        <div class="ui container">
            <div class="item">
                Management
            </div>

            <div class="right menu">

                <div class="vertically fitted borderless item">
                    <iframe class="github"
                            src="http://ghbtns.com/github-btn.html?user=semantic-org&amp;repo=semantic-ui&amp;type=watch&amp;count=true"
                            allowtransparency="true" frameborder="0" scrolling="0" width="100" height="20"></iframe>
                </div>

            </div>
        </div>
    </div>
  {{yield}}
</div>

